@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="background">
    <div class="banner">
        <img src="~/imagens/WhatsApp_Image_2023-07-12_at_17.38.11-removebg-preview.png" class="logo" />
        <h2>Castle Burguer</h2>
        <h3>APRECIE O SABOR REAL</h3>
        <button type="button">Faça seu pedido</button>
    </div>
</section>

<section class="section-combo">
    <div class="card-combo">
        <img src="~/imagens/image (6).png" class="combo" />
        <img src="~/imagens/image (7).png" class="combo" />
        <img src="~/imagens/image (8).png" class="combo" />

    </div>
</section>

<section class="bemvindo">

    <h1 class="titulo-apresentacao">BEM-VINDOS AO<br />
        CASTLE BURGUERS</h1>

    <div class="teste">
        <div class="left-burguer">
            <img src="~/imagens/hamburguer-batata-825x660.jpg" class="burguer" />
        </div>

        <div class="texto">
            <div class="Card-text">
                <p>
                    Era uma vez no Reino dos Sabores, um apaixonado
                    por hambúrgueres chamado
                    Rei Cássio decidiu compartilhar sua paixão com
                    todos. Assim, ele construiu a Castle Burguer, uma
                    hamburgueria lendária. Com ingredientes
                    selecionados e técnicas culinárias refinadas, o Rei
                    Cássio criava hambúrgueres únicos que
                    encantavam os súditos.

                    A fama da Castle Burguer se espalhou além do
                    reino, atraindo visitantes de terras distantes.
                    E agora, você tem a oportunidade de apreciar o
                    verdadeiro sabor real, no conforto da sua casa. A
                    Castle Burgue funciona no formato de delivery,
                    levando os deliciosos hambúrgueres
                    diretamente até você.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="delivery">
    <div class="dede"></div>
    <div class="delivery-laranja">
        <h1>DELIVERY</h1>
        <p>
            Do nosso castelo direto para a sua porta, o<br />
            Sabor Real chega até você!
        </p>
        <button type="button">Faça seu pedido</button>
    </div>
    </div>
    <div class="montagem">
        <img src="~/imagens/hamburguer-batata-825x660.jpg" class="img-delivery"  />

    </div>
</section>


<section class="background-cardapio">

    <div class="cardapio">
        <img src="~/Image/topocardapio.png" class="Imagem-cardapio">
    </div>
    <div class="cards-and-button">
        <div class="card-container">
            <div class="card">
                <img src="~/Image/Hamburguercoroa.png" class="img-card" />
                <div class="text-container">
                    <h5 class="titulo-cardapio">Hamburguer</h5>
                    <div class="Paragrafo-button">
                        <p>
                            Pão, carne, salada e
                            molho.
                        </p>
                    </div>
                </div><!--Paragrafo-button-->
            </div>

            <div class="card">
                <img src="~/Image/Hamburguercoroa.png" class="img-card" />
                <div class="text-container">
                    <h5 class="titulo-cardapio">Hamburguer</h5>
                    <div class="Paragrafo-button">
                        <p>
                            Pão, carne, salada e
                            molho.
                        </p>
                    </div>
                </div><!--Paragrafo-button-->
            </div>

            <div class="card">
                <img src="~/Image/Hamburguercoroa.png" class="img-card" />
                <div class="text-container">
                    <h5 class="titulo-cardapio">Hamburguer</h5>
                    <div class="Paragrafo-button">
                        <p>
                            Pão, carne, salada e
                            molho.
                        </p>
                    </div>
                </div><!--Paragrafo-button-->
            </div>

            <div class="card">
                <img src="~/Image/Hamburguercoroa.png" class="img-card" />
                <div class="text-container">
                    <h5 class="titulo-cardapio">Hamburguer</h5>
                    <div class="Paragrafo-button">
                        <p>
                            Pão, carne, salada e
                            molho.
                        </p>
                    </div>
                </div><!--Paragrafo-button-->
            </div>
        </div>
    </div>
</section>